# Maven
target/
!target/*.jar
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Logs
*.log

# OS
.DS_Store
Thumbs.db 